<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Your Login: <b>{{login}}</b></p><br>
    <p>Your Password: <b>{{password}}</b></p><br>
</body>
</html>